<ion-header mode="ios">
  <ion-toolbar>
    <ion-title class="title">Lista de tareas</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la pagina de tareas -->
<ion-content>
  <tasks-list [tasks]="tasks" (taskDeleted)="handleTaskDeleted($event)" (clearAll)="handleClearAll()"></tasks-list>

  <ion-button class="add-button" id="open-add-task" expand="block" color="primary">
    Añadir nueva tarea
  </ion-button>

  <ion-modal trigger="open-add-task">
    <ng-template>
      <add-task (taskAdded)="handleTaskAdded($event)" (dismiss)="dismissModal()"></add-task>
    </ng-template>
  </ion-modal>

</ion-content>
