<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <h2>Bienvenido al administrador de tareas</h2>
    <p>Maneja tus tareas de manera efectiva.</p>
  </div>

  <ion-footer class="ion-no-border">
    <ion-button expand="block" class="go-button" routerLink="/tasks">Go to Tasks</ion-button>
  </ion-footer>
</ion-content>
